.thumbnail {
    font-size: 20px;
    color: black;
    padding: 0;
}

.thumbnail img {
    display: inline;
    margin-right: 5px;
}

.thumbnails > li {
    float: none;
    margin-bottom: 0px;
}

.thumbnails a:hover {
    text-decoration: none;
}