<div class="well"><button class="btn btn-primary" id="facebookLogin">Login to Facebook</button></div>
<form>
    <div class="input-prepend">
        <span class="add-on">
            <i class="icon-search"></i>
        </span>
        <input class="span5" id="searchInput" size="16" type="text" placeholder="Search friends" />
    </div>
    <ul class="friendsList thumbnails" />
    <div class="pagination">
        <ul>
            <li><a href="#" class="disabled">Prev</a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#" class="disabled">Next</a></li>
        </ul>
    </div>
</form>