<form>
    <div class="input-prepend">
        <span class="add-on">
            <i class="icon-search"></i>
        </span>
        <input class="span5" id="searchInput" size="16" type="text" placeholder="Search friends" disabled="disabled"/>
    </div>
    <ul class="friendsList thumbnails" />
    <div class="pagination">
        <button class="btn" id="prevPage">&lt;</button>
        <div class="currentPage">x / y</div>
        <button class="btn" id="nextPage">&gt;</button>
    </div>
</form>